SQLAlchemy
PyQt5
Sphinx
pytest
pytest-cov
pytest-pep8
pytest-timeout
pytest-aiohttp
numpy
pycodestyle
Pillow
aiohttp
cchardet
aiodns
aiohttp_security
motor
aiohttp_session[secure]
cryptography
bson
quamash
