{
  "DEBUG_LEVEL": "DEBUG",
  "KEY": "7289535257983742",
  "SQLALCHEMY": {
    "SCHEMA": "sqlite",
    "DB": "app.db",
    "USER": "",
    "PASSWORD": ""
  },
  "SERVER": {
    "HOST": "127.0.0.1",
    "PORT": 8010,
    "ENCODE": "utf-8"
  },
  "CLIENT": {
    "HOST": "127.0.0.1",
    "PORT": 8010,
    "ENCODE": "utf-8"
  }
}